nav {
  background-color: $colorback;
  color: #fff;
}

img {
width: 10%;
}

.fotonaomi {
  width: 50%;
}

footer {
  background-color: $colorback;
  align-content: center;
}
.fondonina {
  background-color: $colorgris:
  height: 200px;
  padding-top: 40px;
}
