nav {
  background-color: #121619;
  color: #fff;
}

img {
width: 10%;
}

.fotonaomi {
  width: 50%;
}

footer {
  background-color: #121619;
  align-content: center;
}
.fondonina {
  background-color: #e6e7e7;
}
